<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Single/multiple select and country select. Arguments: element, multiple (bool), country (bool).</f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:variable name="describedBy"><f:if condition="{element.properties.elementDescription}">{element.uniqueIdentifier}-hint </f:if><f:if condition="{validationResults.errors}">{element.uniqueIdentifier}-error</f:if></f:variable>
        <f:if condition="{validationResults.errors}">
            <f:then><f:variable name="aria" value="{invalid: 'true', describedby: describedBy}" /></f:then>
            <f:else if="{describedBy}"><f:variable name="aria" value="{describedby: describedBy}" /></f:else>
        </f:if>
        <div class="kern-form-input{f:if(condition: validationResults.errors, then: ' kern-form-input--error')}">
            <f:render partial="Field/Label" arguments="{element: element}" />
            <f:render partial="Field/Hint" arguments="{element: element}" />
            <div class="kern-form-input__select-wrapper">
                <f:if condition="{country}">
                    <f:then>
                        <f:form.countrySelect property="{element.identifier}" id="{element.uniqueIdentifier}" class="kern-form-input__select" errorClass="kern-form-input__select--error" aria="{aria}" prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}" prependOptionValue="{element.properties.prependOptionValue}" additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}" />
                    </f:then>
                    <f:else if="{element.properties.prependOptionLabel}">
                        <f:form.select property="{element.identifier}" id="{element.uniqueIdentifier}" multiple="{multiple}" options="{formvh:translateElementProperty(element: element, property: 'options')}" class="kern-form-input__select" errorClass="kern-form-input__select--error" aria="{aria}" prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}" prependOptionValue="{element.properties.prependOptionValue}" additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}" />
                    </f:else>
                    <f:else>
                        <f:form.select property="{element.identifier}" id="{element.uniqueIdentifier}" multiple="{multiple}" options="{formvh:translateElementProperty(element: element, property: 'options')}" class="kern-form-input__select" errorClass="kern-form-input__select--error" aria="{aria}" additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}" />
                    </f:else>
                </f:if>
            </div>
            <f:render partial="Field/Errors" arguments="{element: element, validationResults: validationResults}" />
        </div>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
