<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>File and image upload (KERN styles input[type=file] via kern-form-input__input).</f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:variable name="describedBy"><f:if condition="{element.properties.elementDescription}">{element.uniqueIdentifier}-hint </f:if><f:if condition="{validationResults.errors}">{element.uniqueIdentifier}-error</f:if></f:variable>
        <f:if condition="{validationResults.errors}">
            <f:then><f:variable name="aria" value="{invalid: 'true', describedby: describedBy}" /></f:then>
            <f:else if="{describedBy}"><f:variable name="aria" value="{describedby: describedBy}" /></f:else>
        </f:if>
        <div class="kern-form-input{f:if(condition: validationResults.errors, then: ' kern-form-input--error')}">
            <f:render partial="Field/Label" arguments="{element: element}" />
            <f:render partial="Field/Hint" arguments="{element: element}" />
            <formvh:form.uploadedResource property="{element.identifier}" as="resource" id="{element.uniqueIdentifier}" class="kern-form-input__input" errorClass="kern-form-input__input--error" aria="{aria}" accept="{element.properties.allowedMimeTypes}" additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}">
                <f:if condition="{resource}">
                    <p class="kern-hint" id="{element.uniqueIdentifier}-preview">{f:translate(key: 'form.selectedFile', extensionName: 'gsb_kern')}: {resource.originalResource.originalFile.name}</p>
                </f:if>
            </formvh:form.uploadedResource>
            <f:render partial="Field/Errors" arguments="{element: element, validationResults: validationResults}" />
        </div>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
