<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{files}">
        <ul class="kern-list gk-uploads">
            <f:for each="{files}" as="file">
                <li class="gk-uploads__item">
                    <a class="kern-link" href="{file.publicUrl}"{f:if(condition: data.target, then: ' target="{data.target}"')}>
                        <span class="kern-icon kern-icon--download" aria-hidden="true"></span>
                        <span>
                            {f:if(condition: file.properties.title, then: file.properties.title, else: file.name)}
                            <f:if condition="{data.filelink_size}"><span class="gk-uploads__meta">({file.extension -> f:format.case(mode: 'upper')}, {file.size -> f:format.bytes()})</span></f:if>
                            <f:if condition="{file.properties.is_accessible} == '0'"><span class="gk-uploads__meta">– {f:translate(key: 'is_accessible', extensionName: 'gsb_core')}</span></f:if>
                        </span>
                    </a>
                    <f:if condition="{data.uploads_description} && {file.properties.description}">
                        <p class="kern-body kern-body--small gk-uploads__description">{file.properties.description}</p>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>
</html>
