<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>grid_columns 1–4; grid_type "ul" renders a list (e.g. teasers), otherwise plain blocks.</f:comment>
<f:layout name="Container" />
<f:section name="Main">
    <f:if condition="{children_101}">
        <f:variable name="columns">{f:if(condition: data.grid_columns, then: data.grid_columns, else: 1)}</f:variable>
        <f:if condition="{data.grid_type} == 'ul'">
            <f:then>
                <ul class="gk-grid gk-grid--cols-{columns}">
                    <f:for each="{children_101}" as="child"><li class="gk-grid__item"><f:format.raw>{child.renderedContent}</f:format.raw></li></f:for>
                </ul>
            </f:then>
            <f:else>
                <div class="gk-grid gk-grid--cols-{columns}">
                    <f:for each="{children_101}" as="child"><div class="gk-grid__item"><f:format.raw>{child.renderedContent}</f:format.raw></div></f:for>
                </div>
            </f:else>
        </f:if>
    </f:if>
</f:section>
</html>
