<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Fullwidth" />
<f:section name="content">
    <div class="kern-alert kern-alert--warning" role="alert">
        <div class="kern-alert__header">
            <span class="kern-icon kern-icon--warning" aria-hidden="true"></span>
            <span class="kern-title">{f:translate(key: 'search.unavailable.title', extensionName: 'gsb_kern')}</span>
        </div>
        <div class="kern-alert__body">
            <p class="kern-body">{f:translate(key: 'search.unavailable.text', extensionName: 'gsb_kern')}</p>
        </div>
    </div>
</f:section>
</html>
