<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{breadcrumbMenu -> f:count()} > 1">
    <div class="gk-breadcrumb-bar">
    <nav class="kern-container gk-breadcrumb" aria-label="{f:translate(key: 'nav.breadcrumb', extensionName: 'gsb_kern')}">
        <ol class="gk-breadcrumb__list">
            <f:for each="{breadcrumbMenu}" as="item" iteration="iterator">
                <li class="gk-breadcrumb__item">
                    <f:if condition="{iterator.isLast}">
                        <f:then><span aria-current="page">{item.title}</span></f:then>
                        <f:else><a class="kern-link kern-link--small kern-link--no-visited-state" href="{item.link}">{item.title}</a></f:else>
                    </f:if>
                </li>
            </f:for>
        </ol>
    </nav>
    </div>
</f:if>
</html>
