<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Replaces GSB's Header/All (date, kicker, teaser links): header + subheader in KERN typography. titleClass overrides the heading class (e.g. kern-title inside boxes).</f:comment>
<f:if condition="{data.header} && {data.header_layout} != 100">
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.gsbKern.hideHeaderFor')} != {data.uid}">
        <f:variable name="layout">{f:if(condition: data.header_layout, then: data.header_layout, else: settings.defaultHeaderType)}</f:variable>
        <f:if condition="{data.subheader}">
            <f:then>
                <hgroup class="kern-hgroup gk-ce__header">
                    <f:render partial="Header/Header" arguments="{header: data.header, layout: layout, link: data.header_link, titleClass: titleClass}" />
                    <p class="kern-subline">{data.subheader}</p>
                </hgroup>
            </f:then>
            <f:else>
                <f:render partial="Header/Header" arguments="{header: data.header, layout: layout, link: data.header_link, titleClass: titleClass}" />
            </f:else>
        </f:if>
    </f:if>
</f:if>
</html>
