<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>KERN Kopfzeile as plain markup (the kern-kopfzeile web component needs JS and renders role="banner").</f:comment>
<div class="kern-kopfzeile">
    <div class="kern-container">
        <div class="kern-kopfzeile__content">
            <span class="kern-kopfzeile__flagge" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 16" width="24" height="16" focusable="false">
                    <path fill="#000" d="M0 .5h24v5.333H0z" />
                    <path fill="red" d="M0 5.833h24v5.333H0z" />
                    <path fill="#FACA2C" d="M0 11.167h24V16.5H0z" />
                </svg>
            </span>
            <span class="kern-kopfzeile__label">{f:translate(key: 'kopfzeile', extensionName: 'gsb_kern')}</span>
        </div>
    </div>
</div>
</html>
